#app{
  height: 100%;
  width: 100%;
  .container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 10px;
    .demo-card-square{
      padding: 20px;
    }
  }
  .toast-notification{
    width: 90% !important;
  }
}
