#app{
  height: 100%;
  width: 100%;
  .container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 10px;
    .demo-card-square{
      padding: 20px;
    }
  }
  .toast-notification{
    width: 90% !important;
  }
  .panel{
    padding: 5px 5px;
    .title {
      width: 100%;
      text-align: center;
      div {
        display: inline-block;
        &:nth-child(1){
          width: 10%;
        }
        &:nth-child(2){
          width: 80%;
        }
        &:nth-child(3){
          width: 10%;
        }
      }
    }
  }
}
